
@{
    ViewBag.Title = "HIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<center>
    <div>
        <img src="~/PHS/logomvc.png"/>
        <section class="w3-container w3-center w3-content" style="max-width:600px">
            <h2 style="font-display:block">THE BOOK WORM</h2>
            <p style="color:darkgreen"><i>
    Book Summaries: Browse Over 1,300 Titles on One Page</i></p>
            <p class="w3-justify">
                Book Worm has the world’s best guides to nonfiction books. Learn key points and gain insights you won't find anywhere else. Understand the world’s best ideas.
                We take confusing ideas and explain them in plain and simple ways. Never get confused by a complicated book again.Your time is valuable, and we don't waste it. We write with zero fluff, making every word and sentence deserve your time.
            </p>
        </section>

    </div>
</center>

